.item {
  cursor: pointer;
  background-color: var(--dark-white-color) !important;
  color: var(--dark-color) !important;
  border: none !important;
  border-radius: 0 !important;
  padding-right: 5px;

  overflow-x: scroll;

  &:hover,
  &:focus {
    background-color: var(--accent-color) !important;
    color: var(--dark-white-color) !important;
  }
  &:active {
    background-color: var(--dulled-primary-color) !important;
    color: var(--white-color) !important;
  }
  margin: 2px 0px !important;
  padding: 3px 10px !important;

  h6 {
    overflow: scroll;
    margin: 0;
    display: flex;
    margin-right: 5px;
    font-size: 1rem;
  }

  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.item,
.create-form {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.active-item {
  background-color: var(--dulled-primary-color) !important;
  color: var(--white-color) !important;
}

.create-form {
  padding: 10px;
  background: var(--dark-white-color);
  color: var(--dark-color);
}

:global(.btn-secondary) {
  background: var(--primary-color) !important;

  :global(.disabled) {
    background: var(--dulled-primary-color) !important;
  }
}
