.container {
  // TODO: should this be padding or margin?
  padding-top: 45px;
  height: 100%;
  background: var(--white-color);
}

.row-height {
  height: calc(100vh - 45px);
}

.left {
  height: 100%;
  overflow-y: scroll;
}

.right {
  height: 100%;
  overflow-y: scroll;
}

.mid {
  height: 100%;
  overflow-y: scroll;
}

/*Remove the scrollbar from Chrome, Safari, Edge and IE*/
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  -ms-overflow-style: none !important;
}
