.menu {
  background-color: #4f4f4f;
  color: white;
  padding: 0.3rem 0.3rem;
  -webkit-user-select: none;

  &-darwin {
    -webkit-app-region: drag;

    & > &-buttons-placeholder {
      display: inline-block;
      width: 65px;
      height: inherit;
    }
  }

  &-header,
  &-dropdown {
    display: inline-block;
  }

  &-header {
    margin-bottom: 0;
    font-size: 1.5rem;
  }

  &-dropdown {
    padding: 0 10px;
  }
}
