/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  overflow: hidden;
}
