.light-theme {
  --dark-color: #333;
  --muted-text-color: #777;
  --primary-color: #0f7173;
  --accent-color: #54577c;
  --white-color: #fdfdfd;
  --dark-white-color: #eee;
  --muted-blue-color: lighten(#007bff, 25%);
  --dulled-primary-color: #8fbcbd;
  --error-color: #ad1e1a;
}

.dark-theme {
  --dark-color: #fdfdfd;
  --muted-text-color: #999;
  --primary-color: #09c7ca;
  --accent-color: #787bb9;
  --white-color: #222;
  --dark-white-color: #333;
  --muted-blue-color: lighten(#007bff, 25%);
  --dulled-primary-color: #87bbbd;
  --error-color: #f57672;
}

:global(html) {
  height: 100vh;
}
