.light-theme {
  --dark-color: #333;
  --muted-text-color: #777;
  --primary-color: #0f7173;
  --accent-color: #54577c;
  --white-color: #fcfcfc;
  --dark-white-color: #eee;

  --dulled-primary-color: #8fbcbd;
  --error-color: #ad1e1a;
}
