/**
 * Adapted from draft-js rich editor example
 * https://github.com/facebook/draft-js/blob/master/examples/draft-0-10-0/rich/
 */

.root {
  background: var(--white-color);
  font-size: 14px;
  padding: 0 30px;

  --control-height: 75px;
  --checkpoint-height: 120px;
  --editor-height: calc(100vh - 75px - 120px - 60px);
}

.editor {
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
  height: var(--editor-height);
  overflow: auto;
}

.hidePlaceholder :global(.public-DraftEditorPlaceholder-root) {
  display: none;
}

.editor .blockquote {
  border-left: 5px solid var(--accent-color);
  color: var(--dark-color);
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.editor :global(.public-DraftStyleDefault-pre) {
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}

.controls {
  font-size: 14px;
  user-select: none;
}

.styleButton {
  color: var(--muted-text-color);
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.activeButton {
  color: var(--primary-color);
}

.style-controls {
  background: var(--dark-white-color);
  padding: 10px 20px;
  height: var(--control-height);
}

.checkpoint-container {
  background: var(--dark-white-color);
  height: var(--checkpoint-height);
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 5px 20px 10px;
}
