.title-bar {
  // background-color: #4f4f4f;
  background: var(--white-color);
  color: var(--primary-color);
  padding: 0.3rem 0.3rem;
  -webkit-user-select: none;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 45px;

  &-darwin {
    -webkit-app-region: drag;

    & > &-buttons-placeholder {
      display: inline-block;
      width: 75px;
      height: inherit;
    }
  }

  &-header {
    display: inline-block;

    margin-top: 2px;
    margin-bottom: 0;
    font-size: 1.25rem;

    :global(.text-muted) {
      color: var(--muted-text-color) !important;
      margin-left: 0.5rem;
    }
  }

  :global(.nav-item) {
    font-size: 0.9rem;

    a {
      color: var(--dulled-primary-color);
    }

    a:hover {
      color: var(--primary-color);
    }
  }

  .names {
    margin: 0 auto;
    color: var(--accent-color);
  }
}
