form {
  display: "flex";
  flex-direction: "column";
  width: "350px";
  border-width: "1px";
  border-color: "#898989";
  border-style: "solid";
  border-radius: "10px";
  justify-content: "center";
  padding: "20px";
}

header {
  color: "#595858";
}

button {
  margin-top: "20px";
  width: "60px";
}
