.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.header {
  color: #595858;
}

.button {
  margin-top: 20px;
  width: 60px;
  background: var(--primary-color) !important;
  border: none !important;
}
