.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.header {
  color: var(--dark-color);
}

.button {
  margin-left: 10px;
  width: 60px;
  background: var(--primary-color) !important;
  border: none !important;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
