.close-button {
  cursor: pointer;
  float: right;
  margin-right: 20px;
  color: var(--dark-color) !important;
}

.viewer {
  color: var(--dark-color);
}

.container {
  padding-right: 55px;
  padding-left: 30px;
}
